  <body>
    <div class="container">
      <form class="form">
        <div class="form__block">
          <label for="input-1" class="form__label">By quantity</label>
          <input
            id="input-1"
            name="second"
            type="number"
            class="form__input"
            placeholder="enter num from 1 to 100"
            [(ngModel)]="count"
          >
          <button class="form__button" (click)="getCatsByCount(+count)">
            Search
          </button>
        </div>

        <p *ngIf="!isRightCount" class="error-text"> Please enter correct quantity</p>

        <div class="form__block">
          <label for="input-2" class="form__label">By breed </label>
          <input
            id="input-2"
            name="first"
            type="text"
            class="form__input"
            placeholder="enter breed"
            [(ngModel)]="term"
          >
          <button class="form__button" (click)="showAll()">
            {{ !isShowSelectList ? 'Show' : 'Hide' }} all breeds
          </button>
          <select
            *ngIf="isShowSelectList"
            class="breeds-list"
            #selectList
            (change)="getBreed(selectList.value)"
          >
            <option class="breed-item">*Select breed*</option>
            <option *ngFor="let breed of breedsList ; let index = index" value={{breed.id}} class="breed-item">
              {{ breed.name }}
            </option>
          </select>
        </div>
      </form>

      <div class="cat-list">
        <app-cat *ngFor="let cat of catList | filterBreeds:term ; let index = index" [cat]="cat"></app-cat>
        <mat-spinner
          *ngIf="isLoadningData"
          id="infiniteScrollSpinner"
        ></mat-spinner>
      </div>
    </div>
  </body>
