<form [formGroup]="profileForm" class="filter-form">
  <div class="form-block">
    <label for="input-1" class="form-label">Filter By </label>
    <input
      id="input-1"
      type="text"
      class="form-input"
      formControlName="firstName"
      placeholder="quantity"
    >
    <select name="imagesnumbers" class="form-select">
      <option value="1">3</option>
      <option value="2">9</option>
      <option value="3">15</option>
      <option value="4">30</option>
      <option value="5">All</option>
    </select>
  </div>

  <div class="form-block">
    <label for="input-2" class="form-label">Filter By </label>
    <input
      id="input-2"
      type="text"
      class="form-input"
      formControlName="firstName"
      placeholder="breed"
    >
  </div>
</form>
